n8n/Chat Bot.json
{
  "name": "Chat Bot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1376,
        -128
      ],
      "id": "9478a717-74b7-4dba-bded-0e290cbf4db2",
      "name": "When chat message received",
      "webhookId": "f01e5ea9-ceee-4a32-baa2-be83efee6699"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Bạn là bộ phân loại tác vụ. \nHãy đọc message của người dùng và phân loại vào duy nhất 1 trong 3 intent sau:\n\n1. \"general_chat\" → Khi người dùng hỏi về:\n   - cách dùng app\n   - thao tác UI\n   - hỏi kiến thức chung\n   - hỏi hướng dẫn, cấu hình, giải thích\n\n2. \"data_entry\" → Khi người dùng nhập:\n   - thông tin thành viên gia phả\n   - thông tin gia đình, quan hệ \n   - sự kiện: sinh, mất, kết hôn, ly hôn, di cư, chuyển nhà, nghề nghiệp\n   - yêu cầu tạo JSON dữ liệu\n   - nhập thông tin nhiều người cùng lúc\n\n3. \"embedding\" → Khi người dùng:\n   - muốn lưu đoạn văn bản để tìm kiếm sau này\n   - yêu cầu đưa text vào vector DB\n   - yêu cầu tạo embedding hoặc lưu vào hệ thống tìm kiếm\n\nJSON, không thêm text nào khác.\n\nĐịnh dạng xuất:\n{\n  \"intent\": \"general_chat\" | \"data_entry\" | \"embedding\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -928,
        -224
      ],
      "id": "414477f4-41c5-421d-8d20-bd3ca6743fc1",
      "name": "LLM Classifier"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -800,
        0
      ],
      "id": "bc34da72-12f2-4c15-bf09-b9ab34ecdb0f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        -224
      ],
      "id": "86dac119-4ca6-4664-b601-9edb8dd7f452",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "general_chat",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "3f45b909-1d20-4c05-8dc7-9dcb98e075af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general_chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3a7eb47f-877a-4d4a-8a65-7f3d660f4cb0",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "data_entry",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "data_entry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "309b7566-8b34-4e7b-ae75-d7e81e007198",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "embedding",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "embedding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -576,
        -240
      ],
      "id": "49aa40fc-37f0-4158-a340-a874cb9be03a",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Transform').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -352,
        -528
      ],
      "id": "aa75ff82-b6a7-450a-8705-09c65a76becb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        -304
      ],
      "id": "43a7e2be-c26f-4c03-bd8a-21b901cfec8f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PwMTW5bCXHwatA4D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1600,
        -320
      ],
      "id": "36cd812a-6e95-4bdc-9276-99e564844532",
      "name": "Webhook",
      "webhookId": "0858d7f8-8a43-455d-8bde-68a0f1a8c6bb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e733502-0ea6-4c8f-a1d0-ab51af77ae50",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "594c979e-c5a8-42b3-8dfc-99fce87a7ee2",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "dc0e17bf-de42-4117-9297-c94e03aba731",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -224
      ],
      "id": "e9db9765-ee57-4cd0-ae49-2c20e804d831",
      "name": "Chat Transform"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Transform').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Bạn là một bộ phân tích dữ liệu gia phả. Nhiệm vụ của bạn là **luôn trả về một đối tượng JSON duy nhất** theo schema dưới đây. \n**Tuyệt đối không thêm chữ, giải thích hay văn bản nào khác.**\n\nQUAN TRỌNG:\n- Suy luận giới tính từ các từ 'ông', 'bà', 'anh', 'chị', 'chú', 'cô', 'cậu', 'dì'.\n- Nếu giới tính có thể suy luận, gán: \"Male\" hoặc \"Female\". Nếu không thể suy luận, gán \"Other\".\n- Họ (lastName) là từ đầu tiên của tên tiếng Việt, tên còn lại là firstName.\n- Gán ID tạm thời duy nhất cho mỗi thành viên: \"temp_A\", \"temp_B\", v.v. Nếu thành viên đã được đề cập trước đó, dùng lại ID đó.\n- Chỉ tạo events đầy đủ (có \"type\", \"description\", \"date\").\n- **Relationships chỉ được phép sử dụng giá trị sau cho type**: \"Father\", \"Mother\", \"Husband\", \"Wife\".\n- Không tạo event trống hoặc relationship không hợp lệ.\n- Trả đúng cấu trúc JSON, tuân theo schema dưới đây.\n\nSchema JSON:\n\n{\n  \"members\": [\n    {\n      \"id\": \"string (temporary unique identifier) | null\",\n      \"code\": \"string | null\",\n      \"lastName\": \"string\",\n      \"firstName\": \"string\",\n      \"dateOfBirth\": \"string | null\",\n      \"dateOfDeath\": \"string | null\",\n      \"gender\": \"Male\" | \"Female\" | \"Other\",\n      \"order\": \"number | null\"\n    }\n  ],\n  \"events\": [\n    {\n      \"type\": \"string\",\n      \"description\": \"string\",\n      \"date\": \"string | null\",\n      \"location\": \"string | null\",\n      \"relatedMemberIds\": [\"string\"]\n    }\n  ],\n  \"relationships\": [\n    {\n      \"sourceMemberId\": \"string\",\n      \"targetMemberId\": \"string\",\n      \"type\": \"Father\" | \"Mother\" | \"Husband\" | \"Wife\",\n      \"order\": \"number | null\"\n    }\n  ],\n  \"feedback\": \"string | null\"\n}\n\n**BẮT BUỘC:**\n- Trả **chỉ JSON hợp lệ**, không text nào khác, không xuống dòng thừa.\n- Gender phải là **Male**, **Female**, hoặc **Other**.\n- Event phải đầy đủ \"type\", \"description\", \"date\".\n- Relationship type chỉ được phép là \"Father\", \"Mother\", \"Husband\", hoặc \"Wife\".",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -352,
        -32
      ],
      "id": "e7388bc8-9fc4-4995-bdc7-59beb1b22cde",
      "name": "Data Entry"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -928,
        0
      ],
      "id": "e4f5bf47-6bbc-4179-bf1b-7b9731de89b6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PwMTW5bCXHwatA4D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37adce8c-8702-4045-929a-cdef43bc7870",
              "name": "sessionId",
              "value": "={{ $json.body[0].sessionId }}",
              "type": "string"
            },
            {
              "id": "432b4f54-6a17-4602-888c-6d546b0974a3",
              "name": "action",
              "value": "={{ $json.body[0].action }}",
              "type": "string"
            },
            {
              "id": "06757dca-4922-4e79-ac2a-14313cd3f7d3",
              "name": "chatInput",
              "value": "={{ $json.body[0].chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        -320
      ],
      "id": "b001711d-3961-4755-ac05-cb966b7ea112",
      "name": "Map Request To Chat"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "text"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        208
      ],
      "id": "92bd4267-b4ee-4afa-9acb-e3e9ba0ac3da",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PwMTW5bCXHwatA4D",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "LLM Classifier",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LLM Classifier": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data Entry",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Map Request To Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Transform": {
      "main": [
        [
          {
            "node": "LLM Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map Request To Chat": {
      "main": [
        [
          {
            "node": "Chat Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Entry": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Data Entry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e30acc48-d219-47ff-a54e-5494f7b8b3e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c839bad11aad70c163702399b0bcb78b661c9970a1e4316b14e6da296a68b9a"
  },
  "id": "rPd8GV4RzT4ie1dx",
  "tags": []
}