n8n/Embeddings.json
{
  "name": "Embeddings",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "embeddings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        288
      ],
      "id": "a3d00cfd-5a0b-4bac-b041-156a0d807858",
      "name": "Webhook",
      "webhookId": "80039437-9508-48fb-a9d5-c467ad9b3f5a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        288
      ],
      "id": "9cb79456-eaa3-482c-b1a6-682db0f92096",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        1104
      ],
      "id": "14c49560-7949-41ba-bb64-6d62599efbbf",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PwMTW5bCXHwatA4D",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "family_store",
          "mode": "list",
          "cachedResultName": "family_store"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -64,
        880
      ],
      "id": "7e5e1fe2-ec0f-49f0-8fe9-7619e7dc143d",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "FSMoT31iuIQkXZSN",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "family_store",
          "mode": "name"
        },
        "points": "=",
        "filter": "= {\n\"must\": [\n      {\n        \"key\": \"metadata.id\",\n        \"match\": { \"value\": \"{{ $json.id }}\" }\n      }\n    ]\n } ",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "890491be-8b2d-484f-a447-a2a67a6d5a38",
      "name": "Delete Points",
      "credentials": {
        "qdrantRestApi": {
          "id": "smpg1YhBd7BnLQqH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json.body;\n\n  // Gộp dữ liệu quan trọng thành 1 đoạn text để tạo embedding\n  const content = data.description || `\n    Tên gia đình: ${data.entityData?.name || \"\"}\n    Mô tả: ${data.entityData?.description || \"\"}\n    Địa chỉ: ${data.entityData?.address || \"\"}\n    Tổng số thành viên: ${data.entityData?.totalMembers || \"\"}\n    Tổng số thế hệ: ${data.entityData?.totalGenerations || \"\"}\n  `.trim();\n\n  return {\n    json: {\n      id: data.entityId,\n      content, // phần text sẽ dùng cho bước Embedding Node\n      metadata: {\n        entityType: data.entityType,\n        actionType: data.actionType,\n        name: data.entityData?.name,\n        description: data.entityData?.description,\n        address: data.entityData?.address,\n        totalMembers: data.entityData?.totalMembers,\n        totalGenerations: data.entityData?.totalGenerations\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        736
      ],
      "id": "468f966c-c821-4e55-bb2e-cf1591ce3c80",
      "name": "Map Payload"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "type",
                "value": "={{ $json.metadata.entityType }}"
              },
              {
                "name": "name",
                "value": "={{ $json.metadata.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        1104
      ],
      "id": "62aa4030-da72-4712-a99c-0f6129a7e9f9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.actionType }}",
                    "rightValue": "SaveFaceEmbedding",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "533f71af-f723-496f-9a89-46818dbd84df"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save face embedding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32c3a81e-d836-43a4-a39d-3058d2258833",
                    "leftValue": "={{ $json.body.actionType }}",
                    "rightValue": "SearchFaceEmbedding",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Search face embedding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be5860ec-fcd6-40c7-a9c5-dcfb1c5acf24",
                    "leftValue": "={{ $json.body.actionType }}",
                    "rightValue": "SaveFamilyEmbedding",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save family embeddings"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe299759-62c2-4236-a546-49672f11f488",
                    "leftValue": "={{ $json.body.actionType }}",
                    "rightValue": "DeleteFaceEmbedding",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete face embedding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -720,
        256
      ],
      "id": "375f085c-b71f-4bec-976c-ba4b1936dfd3",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "search",
        "operation": "queryPoints",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.body.collectionName }}",
          "mode": "name"
        },
        "query": "=[{{ $json.body.entityData.embedding }}]",
        "scoreThreshold": 0.8,
        "limit": 3,
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "206f9d52-e889-4b4c-b59e-6c75abb156ce",
      "name": "Search Faces",
      "credentials": {
        "qdrantRestApi": {
          "id": "smpg1YhBd7BnLQqH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "upsertPoints",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.body.collectionName }}",
          "mode": "name"
        },
        "points": "=[\n    {\n        \"id\": \"{{ $json.body.entityId }}\",\n        \"payload\": {\n            \"memberId\": \"{{ $json.body.entityData.memberId }}\",\n            \"actionType\": \"{{ $json.body.actionType }}\",\n            \"entityType\": \"{{ $json.body.entityType }}\",\n            \"description\": \"{{ $json.body.description }}\"\n        },\n        \"vector\": [{{ $json.body.entityData.embedding }}]\n    }\n]\n ",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "022791eb-9a6b-459f-9a7c-77b817553e94",
      "name": "Upsert Faces",
      "credentials": {
        "qdrantRestApi": {
          "id": "smpg1YhBd7BnLQqH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.body.collectionName }}",
          "mode": "name"
        },
        "points": "{}",
        "filter": "= {\n\"must\": [\n      {\n        \"key\": \"payload.memberId\",\n        \"match\": { \"value\": \"{{ $('Webhook').item.json.body.entityData.memberId }}\" }\n      }\n    ]\n }  ",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "a3e0e881-010d-4578-aea6-957de4189f71",
      "name": "Delete Faces",
      "credentials": {
        "qdrantRestApi": {
          "id": "smpg1YhBd7BnLQqH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "payload",
        "operation": "createPayloadIndex",
        "collectionName": {
          "__rl": true,
          "value": "={{ $json.body.collectionName }}",
          "mode": "name"
        },
        "fieldName": "payload.memberId",
        "fieldSchema": "\"keyword\"",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -304,
        368
      ],
      "id": "1e0f0519-8034-4655-9135-f09daee9e149",
      "name": "Create Payload Index",
      "alwaysOutputData": false,
      "credentials": {
        "qdrantRestApi": {
          "id": "smpg1YhBd7BnLQqH",
          "name": "Qdrant account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "host.docker.internal:5678",
            "traceparent": "00-0d88a86e7603ed22c6e7d6ed1ecbabc4-aa0e486ecf514bf8-00",
            "content-type": "application/json; charset=utf-8",
            "content-length": "259"
          },
          "params": {},
          "query": {},
          "body": {
            "entityType": "Face",
            "entityId": "21fd3ff5-9539-4227-b1b9-8922f7edfa4d",
            "actionType": "DeleteFaceEmbedding",
            "entityData": {
              "memberId": "21fd3ff5-9539-4227-b1b9-8922f7edfa4d"
            },
            "description": "Delete face embedding for MemberId 21fd3ff5-9539-4227-b1b9-8922f7edfa4d"
          },
          "webhookUrl": "http://localhost:5678/webhook/embeddings",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Payload": {
      "main": [
        [
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upsert Faces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Faces",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Payload Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Faces": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Faces": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Faces": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payload Index": {
      "main": [
        [
          {
            "node": "Delete Faces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86a3ce15-b37a-44fc-815d-59a6b9fa0750",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c839bad11aad70c163702399b0bcb78b661c9970a1e4316b14e6da296a68b9a"
  },
  "id": "UaaKI1jHcNwwpGT4",
  "tags": []
}